:root {
    --background: #f0f0f0;
    --text-color: #191919;
    --container-color: white;
    --input-color: white;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --text-color: #bfbfbf;
    --container-color: #333;
    --input-color: #848484;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--container-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--input-color);
}

button:not(.theme-button) {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover:not(.theme-button) {
    background-color: #0056b3;
}

select:focus {
    outline: none;
    border-color: #007bff;
}

#result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: var(--text-color);
}

@media (max-width: 768px) {
    .container {
        margin: 20px;
    }

    input[type="number"],
    select {
        width: 100%;
    }

    #result {
        font-size: 18px;
    }
}