.container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    background: #33cccc;
    color: rgb(25, 25, 25);
}

.welcome {
    font-size: 30pt;
    padding: 10px 0;
    font-weight: 800;
}

.target {
    font-size: 18pt;
    font-weight: 100;
}

.txt {
    text-align: center;
}

.task {
    flex: 0 0 100%;
    font-size: 16pt;
    margin-left: 3%;
}

.slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}


@media screen and (max-width: 725px) {
    .slider-container {
        width: 100%;
        height: auto;
        padding-bottom: 66.67%;
        position: relative;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}