.container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}

.welcome {
    flex: 0 0 100%;
    text-align: center;
    font-size: 28pt;
}

.target {
    flex: 0 0 100%;
    text-align: center;
    font-size: 18pt;
}

.task {
    flex: 0 0 100%;
    font-size: 16pt;
    margin-left: 3%;
}

@media screen and (max-width: 725px) {
    .welcome {
        font-size: 20pt;
    }

    .target {
        font-size: 12pt;
    }

    .task {
        font-size: 12pt;
    }
}