:root {
    --background: #f0f0f0;
    --block-background: #f0f0f0;
    --text-color: #191919;
    --img: invert(0);
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --block-background: #1c1c21;
    --text-color: #bfbfbf;
    --img: invert(70%);
}

html, body {
    height: 100%;
}

main {
    min-height: 100vh;
    background-color: var(--background);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.block {
    width: 200px;
    height: 200px;
    background-color: var(--block-background);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.block img {
    width: 80px;
    height: 80px;
    margin: 10px;
    max-width: 100%;
    height: auto;
    filter: var(--img);
}

.block:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .block {
        width: 150px;
        height: 150px;
    }

    .block img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .block {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .block img {
        width: 80px;
        height: 80px;
    }
}