:root {
    --background: #f0f0f0;
    --block-background: #f0f0f0;
    --text-color: #191919;
    --content-color: #f5f5f5;
    --term-color: #ddd;
    --container-color: #fff;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --block-background: #1c1c21;
    --text-color: #bfbfbf;
    --content-color:#242424;
    --term-color: #3b3b3b;
    --container-color: #1c1c21;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--container-color);
    color: var(--text-color);
}

.head {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.head h1 {
    margin: 0;
}

.content {
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.content nav {
    background-color: var(--content-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.content nav h2 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.content nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content nav ul li {
    margin-bottom: 15px;
}

.content nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.content nav ul li a:hover {
    color: #333;
}

.content nav ul li ul {
    margin-left: 20px;
    margin-top: 10px;
}

.content nav ul li ul li {
    margin-bottom: 10px;
}

.content nav ul li ul li a {
    font-size: 14px;
}

.term {
    background-color: var(--term-color);
    padding: 5px;
    border-radius: 5px;
}

.txt {
    padding: 20px;
}

.txt h2 {
    margin-top: 0;
}

.txt ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.txt ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.txt ul li:last-child {
    border-bottom: none;
}

img {
    max-width: 80%;
    height: auto;
    margin: 20px 0;
}

.mini {
    max-width: 40%;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .head h1 {
        font-size: 24px;
    }

    .content {
        padding: 20px 0;
    }

    .content nav {
        padding: 20px;
    }

    .content nav h2 {
        font-size: 20px;
    }

    .content nav ul li {
        margin-bottom: 10px;
    }

    .content nav ul li a {
        font-size: 14px;
    }

    .content nav ul li ul li a {
        font-size: 12px;
    }

    .txt {
        padding: 10px;
    }

    img {
        max-width: 100%;
        margin: 10px 0;
    }

    .mini {
        max-width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 90%;
    }

    .head h1 {
        font-size: 20px;
    }

    .content nav {
        padding: 15px;
    }

    .content nav h2 {
        font-size: 18px;
    }

    .content nav ul li a {
        font-size: 12px;
    }

    .content nav ul li ul li a {
        font-size: 10px;
    }

    .mini {
        max-width: 80%;
    }
}