:root {
    --background-nav: #fff;
    --color-logo: #050574;
    --text-color: black;
    --hover-color: #80ccf0;
    --background: #f0f0f0;
    --hover-btn-color: #1f1f1f;
    --hover-txt-color: #bfbfbf;
    --menu-color: lightblue;
}

[data-theme="dark"] {
    --background-nav: #1f1f1f;
    --color-logo: #9999e6;
    --text-color: #bfbfbf;
    --hover-color: #338ccc;
    --background: #1f1f1f;
    --hover-btn-color: #f0f0f0;
    --hover-txt-color: black;
    --menu-color: #1f1f1f;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: var(--background-nav);
}

.logo {
    font-size: 1.8rem;
    color: var(--color-logo);
    padding-left: 20px;
}

.bar {
    padding-right: 20px;
    cursor: pointer;
}

.bar .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.nav__link {
    position: absolute;
    z-index: 1;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: var(--menu-color);
}

.nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.nav__link a:hover {
    background-color: var(--hover-color);
}

.hide {
    display: none;
}

.footer {
    background: var(--background);
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

.theme-button {
    background-color: var(--background);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-button:hover {
    background-color: var(--hover-btn-color);
    color: var(--hover-txt-color);
}

@media screen and (min-width: 725px) {
    .nav__link {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav__link a {
        display: inline-block;
        padding: 15px 20px;
    }

    .bar {
        display: none;
    }
}